spring:
  application:
    name: spotifycatalog
  profiles:
    default: local

  sql:
    init:
      mode: never

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs